@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: #f6f6f6;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    /*font-family:'Courier New', Courier, monospace*/
    max-width: 950px;
    margin: auto;
}

#header{
    padding: 10px 0 10px 0;
}

#info {
    padding: 10px 0 10px 0;
    height: 30%;
    color: #070707;
}

.nav-menu{
    inline-size: auto;

}
.title {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #070707;
    margin: 0;
    padding: 0;
}

.avatar {
    max-width: 1024px;
    border-radius: 360px;
    padding: auto;
}

.info{
    padding: 100px;
}

.info-title{
    margin-bottom: 45px;
    font-size: 24px;
    line-height: 30px;
    text-align:center;
}

.info p {
    color: #161616;
    margin-top: 40px;
    margin:auto;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}


.about{
    padding: 10px;
    background: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 20px;
    border-radius: 20px;
}

.about-title {
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    max-width: 940px;
    margin: auto;
}

.about .elem {
    margin-bottom: 45px;
    font-size: 24px;
    line-height: 34px;
    text-align:center;
}


/*Box model*/

.container {
    max-width: 900px;
    padding: 15px 40px;
    
}


.social-web{
    background: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 20px;
    border-radius: 20px;
}

.table{
    width: 100%;
}

.card{
    padding: 15px 40px;
    margin: 20px;
    border-radius: 20px;
}

.bg-yellow{
background: #ffffff;
}

.bg-green{
background: #ffffff;
}

.bg-red{
background: #ffffff;
}

.contacts{
    padding: 10px;
}
